body {
    background: #2a2a3f;
    color: #fff;
    margin: 0 auto;
    width: 70%;
  }

  a {
    margin-left: 15px;
    text-decoration: none;
    color: #ccc;
  }

  img {
    display: block;
    height: 300px;
    margin: 0 auto;
  }


  form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
